.App {
  text-align: center;
}

.background {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: rgb(167, 194, 185);
}
.input_box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
}
.input_btn{
  color: rgb(255, 153, 0);
  background-color: beige;
  width: 210px;
  height: 40px;
  border-radius: 5px;
}
.input_btn:hover {
  color: rebeccapurple;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: blanchedalmond;
  box-shadow: 2px 5px 4px rgba(236, 144, 6, 0.5);
}
input:focus {
  outline: none;
}
.text {
  margin-left: 10px;
  color: blueviolet;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 1.5);
}